# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# win's workspace
.devcontainer
.venv
__pycache__
.claude

# schedool solver output
/output
cleaned_input/*
cleaned_input/curriculum_cleaned.csv
cleaned_input/elective_cleaned.csv
cleaned_input/period_cleaned.csv
cleaned_input/preplace_cleaned.csv
cleaned_input/room_cleaned.csv
cleaned_input/scout_cleaned.csv
cleaned_input/student_cleaned.csv
cleaned_input/teacher_cleaned.csv
/data
data/*
schedool/
logs/
