# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# win's workspace
.devcontainer
.venv
__pycache__
.claude

# schedool solver output
output/
cleaned_output/
cleaned_input/
input_dataset/
input_dataset_old/
input_dataset_test/
/data
data/*
logs/

.vscode
.claude
/examples